html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	text-align: center;
	margin: auto;
	padding-bottom: 20px;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

div {
	margin: auto;
	text-align: center;
}

.viz_sm{
	margin-right: 40px;
	width: 380px;
	height: 300px;
}

.viz_sm:last-child{
	margin-right: 0px;
}

.viz_lg{
	width: 1228px;
	height: 300px;
}
